
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>


<%= link_to 'Edit', edit_article_path, class: "text-decoration-none"%> //
<%= link_to 'Back to list', articles_path, class: "text-decoration-none"%>
